{
  "IsEncrypted": false,
  "Values": {
   	"AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "miespaciodenombres_RootManageSharedAccessKey_EVENTHUB": "YOUR_CONNECTION_STRING"
  }
}